{% extends 'layout.html.twig' %}

{% block page_content %}
    <a class="btn btn-default" href="{{ path('remoteDatabaseConnect') }}">Create connection</a>
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_body %}
            <table class="table table-bordered table-hover dataTable">
                <thead>
                <tr role="row">
                    <th>Alias</th>
                    <th>Connect</th>
                    <th>Charset</th>
                    <th>Active</th>
                    <th>Tools</th>
                </tr>
                </thead>
                <tbody>
                {% for dataBase in dataBases %}
                    <tr role="row" class="odd">
                        <td>{{ dataBase.alias }}</td>
                        <td>{{ dataBase.user }}:***@{{ dataBase.host }}:{{ dataBase.port }}/{{ dataBase.db }}</td>
                        <td>{{ dataBase.charset }}</td>
                        <td>
                            <a href="{{ path('remoteDatabaseActivate', {'id': dataBase.id}) }}">active {{ dataBase.isActive }}</a>
                        </td>
                        <td width="100">
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <a class="btn btn-default" href="{{ path('remoteDatabaseDelete', {'id': dataBase.id}) }}">delete</a>
                                <a class="btn btn-default" href="{{ path('remoteDatabaseEdit', {'id': dataBase.id}) }}">edit</a>
                                <a class="btn btn-default" href="{{ path('syncTables', {'dbName': dataBase.alias}) }}">Sync Table</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Alias</th>
                    <th>Connect</th>
                    <th>Charset</th>
                    <th>Active</th>
                    <th>Tools</th>
                </tr>
                </tfoot>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}