{% extends 'layout.html.twig' %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_body %}
            <table class="table table-bordered table-hover dataTable">
                <thead>
                <tr role="row">
                    <th>Label</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Tools</th>
                </tr>
                </thead>
                <tbody>
                {% for table in tables %}
                    <tr role="row" class="odd">
                        <td>
                            <a href="{{ path('list',{'tableId': table.id }) }}">{{ table.name }}</a>
                        </td>
                        <td>{{ table.label }}</td>
                        <td>{{ table.description }}</td>
                        <td>{{ table.isActive }}</td>
                        <td>
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                              <a class="btn btn-default" href="{{ path('syncTable', {'tableId': table.id}) }}">Sync Table</a>
                                <a class="btn btn-primary " href="{{ path('configTable', {'tableId': table.id}) }}"><i class="glyphicon glyphicon-cog"></i></a>
                                <a class="btn btn-primary " href="{{ path('configColumns', {'tableId': table.id}) }}"><i class="glyphicon glyphicon-th-list"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Label</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsActive</th>
                    <th>Tools</th>
                </tr>
                </tfoot>
            </table>
        {% endblock %}
    {% endembed %}
{% endblock %}