{% extends 'layout.html.twig' %}

{% block page_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Название</h3>
            <div class="card-tools">
                <a href="{{ path("settings.columns.config", {tableId: table.id}) }}" class="btn btn-flat" title="table config"><i class="fa fa-columns"></i></a>
            </div>
        </div>

        <div class="card-body">
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="">


                <div class="row">
                    <div class="col-lg-12">
                        <form method="get">
                            <div class="input-group">
                                <input type="text" name="filter" id="filter" class="form-control" placeholder="Search" value="{{ filter ? filter | json_encode : '' }}">
                                <span class="input-group-btn">
                                    <button type="submit"  class="btn btn-flat"><i class="fas fa-search"></i> Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                            <tr role="row">
                                {% for column in columns %}
                                    <th title="{{ column.description }}">{{ column.label }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in rows %}
                                <tr role="row" class="odd">
                                    {% for column in columns %}
                                        <td>{{ applyColumnDecorator(row.data[column.name], column) | raw }} </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                {% for column in columns %}
                                    <th title="{{ column.description }}">{{ column.label }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>



                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby=""></div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby=""></div>
            </div>

        </div>

    </div>


{% endblock %}